<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Додади или промени ги информациите за фризерски салон</h1>
    </div>
</section>

<div class="container">
    <div class="row" style="position: center">
        <div class="col-md-5">
            <form th:method="POST" th:action="@{/showAndAddbarbershop/add-barbershop}">
                <input id="id" type="hidden" name="id" th:value="(${selectedBarbershop} != null ? ${selectedBarbershop.getId()} : '')">

                <div class="form-group">
                    <label for="imageUrl">Лого</label>
                    <input type="text"
                           class="form-control"
                           id="imageUrl"
                           name="imageUrl"
                           th:value="(${selectedBarbershop} != null ? ${selectedBarbershop.getImageUrl()} : '')"
                           required
                           placeholder="Enter barbershop logo">
                </div>

                <div class="form-group">
                    <label for="barbershophopName">Име</label>
                    <input type="text"
                           class="form-control"
                           id="barbershopName"
                           name="barbershopName"
                           th:value="(${selectedBarbershop} != null ? ${selectedBarbershop.getName()} : '')"
                           required
                           placeholder="Enter barbershop name">
                </div>
                <div class="form-group">
                    <label for="barbershopLat">Географска ширина</label>
                    <input type="text"
                           class="form-control"
                           id="barbershopLat"
                           name="barbershopLat"
                           th:value="(${selectedBarbershop} != null ? ${selectedBarbershop.getLatitude()} : '')"
                           required
                           placeholder="Latitude">
                </div>
                <div class="form-group">
                    <label for="barbershopLong">Географска должина</label>
                    <input type="text"
                           class="form-control"
                           id="barbershopLong"
                           name="barbershopLong"
                           th:value="(${selectedBarbershop} != null ? ${selectedBarbershop.getLongitude()} : '')"
                           required
                           placeholder="Longitude">
                </div>
                <div class="form-group">
                    <label for="pageLink">Линк до веб сајт</label>
                    <input type="text"
                           class="form-control"
                           id="pageLink"
                           name="pageLink"
                           th:value="(${selectedBarbershop} != null ? ${selectedBarbershop.getPageLink()} : '')"
                           required
                           placeholder="PageLink">
                </div>
                <button id="addBarbershopsSubmit" type="submit" class="btn btn-secondary">Поднеси</button>
                <a type="button" class="btn btn-secondary" th:href="@{/showAndAddBarbershop}">Назад</a> <br/><br/>
            </form>
        </div>
    </div>
</div>
</div>