<footer class="text-black-50 mt-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>За нас</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Ние сме Веб сајт кој Ви овозможува со помош на Вашиот профил да го пронајдете најблискиот фризерски салон од Вашата локација.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Линкови до некои мапи</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a style="color: darkgreen" href="https://www.google.com/maps">Google Maps</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Контакт</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>Дамјан Станковски</li>
                    
                    
                    <li><i class="fa fa-home mr-2"></i>Бобан Алексовски</li>
                    
                  
                    <li><i class="fa fa-home mr-2"></i>Јан Станков</li>
                    
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: cadetblue">
        © 2021 Copyright: Team SIT
    </div>
</footer>