#s-ca8da8a7-563b-4ec5-a730-051280d50f8b > #backgroundBox {
  background-color: #0D505A;
  position: absolute;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b > #alignmentBox {
  position: relative;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_1 {
  position: absolute;
  width: 356.1640624999999px;
  min-height: 85.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bernard MT Condensed',Arial;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_1 span {
  color: #1BDAF1;
  text-align: left;
  text-decoration: none;
  font-family: 'Bernard MT Condensed',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
  font-stretch: condensed;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Bernard MT Condensed',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
  font-stretch: condensed;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_1 {
  position: absolute;
  width: 519.9999999999994px;
  min-height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Times New Roman',Arial;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #1BDAF1;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_1 span {
  color: #060606;
  text-align: center;
  text-decoration: none;
  font-family: 'Times New Roman',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #060606;
  text-decoration: none;
  font-family: 'Times New Roman',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_2 {
  position: absolute;
  width: 519.9999999999994px;
  min-height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Times New Roman',Arial;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1BDAF1;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_2 span {
  color: #060606;
  text-align: center;
  text-decoration: none;
  font-family: 'Times New Roman',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #060606;
  text-decoration: none;
  font-family: 'Times New Roman',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Image {
  position: absolute;
  width: 376.0820312500015px;
  height: 300.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_3 {
  position: absolute;
  width: 202.1015625000008px;
  min-height: 33.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_3 span {
  color: #1BDAF1;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #1BDAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ca8da8a7-563b-4ec5-a730-051280d50f8b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}